@font-face {
  font-family: 'Inter-Medium';
  src: url('@/assets/fonts/Inter-Medium.eot');
  src:
          local('Inter'),
          local('Inter-Medium'),
          url('@/assets/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
          url('@/assets/fonts/Inter-Medium.woff') format('woff'),
          url('@/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('@/assets/fonts/Inter-Bold.eot');
  src:
          local('Inter'),
          local('Inter-Bold'),
          url('@/assets/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
          url('@/assets/fonts/Inter-Bold.woff') format('woff'),
          url('@/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('@/assets/fonts/Inter-Regular.eot');
  src:
          local('Inter'),
          local('Inter-Regular'),
          url('@/assets/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
          url('@/assets/fonts/Inter-Regular.woff') format('woff'),
          url('@/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}